.rel-cat-button {
    display: inline-block;
    cursor: pointer;
    padding: 17px 25px;
    color:#173f57;
    text-transform: uppercase;
    font-size: 19px;
    line-height: 1;
    border-bottom: 1px solid #849452;
    border-right: 1px solid #849452;
    background-color: transparent;
    transition:0.3s ease background-color;
}
.rel-cat-button:last-child {
    border-right: 0px;
}
.rel-cat-button:hover, .rel-cat-button.active {
    background-color: rgb(132, 148, 82, 0.3);
}