.rel-listing-grid-item {
    box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.rel-listing-image {
    max-height: 300px;
    display: flex;
    position: relative;
}
.rel-listing-image > img {
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
    transition: 0.3s ease opacity;
}
.rel-listing-image .rel-listing-logo {
    position: absolute;
    right: 5px;
    top: 5px;
    max-width: 90px;
    opacity: 0.8;
}
.rel-listing-grid-item:hover .rel-listing-image > img {
    opacity: 0.65;
}
.rel-listing-image .rel-grid-flags {
    position: absolute;
    left: 5px;
    top: 5px;
    display: flex;
    flex-wrap: wrap;
    max-width: calc(100% - 110px);
}
.rel-listing-grid-details {
    padding: 20px 25px 0px 25px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.rel-listing-grid-text {
    text-align: center;
}
.rel-listing-grid-text h4 {
    border-top: 1px solid #849452;
    border-bottom: 1px solid #849452;
    color: #173f57;
    margin: 0;
    line-height: 1.1;
    font-size: 26px;
    padding-top: 3px;
    padding-bottom: 1px;
    transition: 0.3s ease color;
}
.rel-listing-grid-item:hover .rel-listing-grid-text h4 {
    color: #849452;
}
.rel-listing-grid-text p {
    margin:15px 0px;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.3;
    color: #173f57;
}
.rel-listing-grid-dot-container {
    margin-top: auto;
}
.rel-listing-grid-dot-container .rel-listing-grid-dot {
    margin:0 auto;
    margin-top:5px;
    height: 12px;
    width: 24px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}