.rel-listing-row-item {
    box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
    cursor: pointer;
    margin-bottom: 20px;
    transition: 0.3s ease background-color;
}
.rel-listing-row-item:hover {
    background-color: rgba(0,0,0,0.02);
}
.rel-listing-row-details {
    padding: 15px 15px 15px 0px;
    display: flex;
}
.rel-listing-row-dot-container {
    display: flex;
    align-items: center;
}
.rel-listing-row-dot {
    margin-right:30px;
    height: 24px;
    width: 12px;
    border-bottom-right-radius: 24px;
    border-top-right-radius: 24px;
}
.rel-listing-row-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.rel-listing-row-arrow-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 30px;
    transition: 0.3s ease padding-right;
}
.rel-listing-row-item:hover .rel-listing-row-arrow-container {
    padding-right: 12px;
}

.rel-listing-row-text h4 {
    color: #173f57;
    margin:0;
    padding-right: 26px;
    margin-right: 26px;
    line-height: 1.2;
    font-size: 30px;
    padding-top: 1px;
    border-right: 1px solid #849452;
    transition: 0.3s ease color;
}
.rel-listing-row-item:hover .rel-listing-row-text h4 {
    color: #849452;
}
.rel-listing-row-text p {
    margin:0;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.3;
    color: #173f57;
}

.rel-listing-row-arrow {
    width: 24px;
    height: 24px;
    border-top: 1px solid #849452;
    border-right: 1px solid #849452;
    transform: rotate(45deg);
}

@media only screen and (max-width: 600px) {
    .rel-listing-row-text {
        flex-wrap: wrap;
    }
    .rel-listing-row-text h4 {
        border-right: 0;
        margin-right: 0;
    }
    .rel-listing-row-arrow-container {
        padding-right: 5px;
    }
}