.rel-modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.87);
    z-index: 100001;
}
.rel-modal-container {
    position: relative;
    max-width: 1000px;
    min-width: 860px;
    max-height: 520px;
    margin: 0 30px;
    background-color: #fff;
    display: flex;
}
@media only screen and (max-width: 1000px) {
    .rel-modal-container {
        min-width: auto;
    }
}
.rel-modal-image {
    flex-grow: 1;
    display: flex;
    background-color: #ddd;
    position: relative;
}
.rel-modal-image img {
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
}
.rel-modal-image .rel-modal-logo {
    position: absolute;
    right: 5px;
    top: 5px;
    max-width: 90px;
    opacity: 0.85;
}
.rel-modal-details {
    padding: 35px;
}
.rel-modal-close-container {
    position: absolute;
    top: -44px;
    right: 5px;
    cursor: pointer;
    font-size: 30px;
    color: #ffffff;
    transition: 0.3s ease color;
}
.rel-modal-close-container:hover {
    color: #173f57;
}
.rel-modal-text h4 {
    position: relative;
    border-top: 1px solid #849452;
    border-bottom: 1px solid #849452;
    color: #173f57;
    margin-bottom: 20px;
    line-height: 1.1;
    font-size: 32px;
    padding-top: 3px;
    padding-bottom: 1px;
    text-align: center;
}
.rel-modal-text, .rel-modal-field, .rel-modal-region-container {
    color: #173f57;
    font-size: 16px;
}
.rel-modal-region-container, .rel-modal-field {
    display: flex;
    font-weight: bold;
    margin: 8px 0px;
}
.rel-modal-field-container {
    margin-top:25px;
}
.rel-modal-field a {
    text-decoration: underline;
    color: #173f57;
}
.rel-modal-field a:hover {
    color: #849452;
}
.rel-modal-link {
    position: absolute;
    top: calc(50% - 9px);
    right: -25px;
    font-size: 18px;
    color: #173f57;
}
.rel-modal-link:hover {
    color: #497081;
}

.rel-modal-region-dot {
    min-width: 24px;
    margin-right:12px;
    height: 24px;
    width: 24px;
    border-radius: 24px;
}
.rel-modal-region-dot.empty {
    border:1px solid #173f57;
}
@media only screen and (min-width: 801px) { 
    .rel-modal-container {
        min-height: 420px;
    }
    .rel-modal-details {
        max-width: 380px;
        overflow-y: scroll;
    }
}
@media only screen and (max-width: 800px) {
    .rel-modal-container {
        flex-wrap: wrap;
        max-height: 86vh;
        overflow-y: scroll;
    }
    .rel-modal-image {
        order: 2;
        width: 100%;
    }
    .rel-modal-details {
        order: 1;
        width: 100%;
    }
    .rel-modal-close-container {
        top:0px;
        right:0px;
        color: #173f57;
    }
    .rel-modal-link {
        display: none;
    }
}